h1,h2,h3,h4,h5,h6,p {
  font-family: 'Poppins';
}

h5 {
    font-size: 22px;
    line-height: 40px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 2;
  
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

h4 {
  letter-spacing: 25px;
  font-size: 60px;
  margin: 0;
  
  top: 20%;
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.first-main-icon-text-align {
  width: 100%; 
  height: 200px;
  text-align: center;
  
}

.top-left-icon {
  float: left;
}


.description-of-goal {
    display: inline-block;
    position: static;
    color: black;
}

.top-right-icon {
  float: right;
}

.statistics1 {
  height: 400px;
  width: 50%;
}